/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'noto sans', sans-serif;
    font-size: 14px;
    height: 100vh;
    background-color: #D2D0DD;
}

.layout-wrapper {
    height: 100%;
    padding: 80px 250px;
    display: flex;
}

.layout-left {
    background-color: #fff;
    width: 50%;
    padding: 0 60px;
    display: flex;
    align-items: center;
}

.header h1 {
    margin-bottom: 3px;
    font-size: 22px;
}

.header p {
    color: #A1A8B4;
    font-size: 10px;
    margin-bottom: 18px;
}

.form-group {
    margin-top: 10px;
}

.form-label {
    font-size: 11px;
    font-weight: 600;
    display: block;
}
.form-group input {
    height: 28px ;
    margin-top: 5px;
    border: 1px solid #757575;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding-left: 10px;
    font-size: 12px;
}

.form-group input::placeholder {
    font-size: 11px;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 10px;
   
}

.remember {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remember input {
    margin-right: 5px;
}

a {
    text-decoration: none;
}

button {
    display: block;
    width: 100%;
    margin-top: 8px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #757575;
    cursor: pointer;
}

#btn-signin {
    background-color: #7F56DA;
    color: #FFFFFF;
}

#btn-signin:hover {
    background-color: #6B46C1;
}

#btn-signin-google {
    background-color: #FFFFFF;
    color: #101828;
    border: 1px solid #757575;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-signin-google:hover {
    background-color: #cfd0d5;
}

#btn-signin-google img {
    height: 14px;
    width: 14px;
    margin-right: 3px;
}

.form-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
}

.layout-right {
    width: 50%;
}